<div class="wrapper">
    <h1 class="title">OUR SPACE</h1>
    <p class="subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio veritatis, numquam corrupti vel recusandae hic veniam quidem deleniti reprehenderit cupiditate. Minima accusamus ipsa architecto eos, illo fugit sapiente ex enim.</p>

    <section class="section__wrap">
        <div class="section__img--wrapped">
            <img src="./assets/gallery1.jpeg" alt="gallery" class="section__img">
            <img src="./assets/gallery2.jpeg" alt="gallery" class="section__img">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, autem reiciendis beatae earum quo soluta repellendus reprehenderit enim totam error, dolores iure. Reprehenderit veritatis expedita eveniet.</p>
            <img src="./assets/gallery3.webp" alt="gallery" class="section__img">
            <img src="./assets/gallery4.jpeg" alt="gallery" class="section__img">
        </div>
    </section>
    <p class="section__footer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus impedit quaerat laboriosam. Minima nulla illum explicabo vel rerum aspernatur repellat perspiciatis at, fugiat consectetur, hic veritatis alias provident! Ad quae earum molestiae pariatur vitae sint quo, voluptatem dignissimos perferendis odit ullam, veniam quod iste at, quisquam sed soluta blanditiis maiores mollitia esse! Eaque quibusdam perferendis nemo perspiciatis magnam aut aliquid?</p>
</div>











