<h2>OUR SPACE</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, autem reiciendis beatae earum quo soluta repellendus reprehenderit enim totam error, dolores iure. Reprehenderit veritatis expedita eveniet, saepe aliquid temporibus provident!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, autem reiciendis beatae earum quo soluta repellendus reprehenderit enim totam error, dolores iure. Reprehenderit veritatis expedita eveniet, saepe aliquid temporibus provident!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, autem reiciendis beatae earum quo soluta repellendus reprehenderit enim totam error, dolores iure. Reprehenderit veritatis expedita eveniet, saepe aliquid temporibus provident!</p>

<section class="section__wrap">
<img src="./assets/gallery1.jpeg" alt="gallery" class="section__img">
<img src="./assets/gallery2.jpeg" alt="gallery" class="section__img">
<img src="./assets/gallery3.webp" alt="gallery" class="section__img">
<img src="./assets/gallery4.jpeg" alt="gallery" class="section__img">
</section>








