
<div class="container">
    <img [src]="product.image" alt="{{product.name}}">
    <div class="container__content">
        <h2>{{product.name}}:</h2>
        <h3>{{product.description}}</h3>
        <h3 class="music">Music: {{product.music}}</h3>
        <h4> {{product.cares}}</h4>
        <h3 class="price">{{product.price | currency}}</h3>
    </div>
    <div class="buttons">
        <button class="general__button general__button--info" routerLink="/Bonsais">Back</button>
        <button class="general__button general__button--info" (click)="deleteBonsai()">Delete</button>
    </div>
    
</div>