* {
    font-family: Arial;
}
footer {
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: #333333;
    width: 100%;
    padding: 1% 0;
    div {
        display: flex;
        flex-direction: column;
        p {
            align-self: center;
            color: white;
        }
        ul {
            display: flex;
            justify-content: center;
            list-style-type: none;
            gap: 10px;
            li {
                color: white;
                &:hover {
                    font-weight: bold;
                }
                &:not(:last-child)::after {
                    content: " | ";
                    margin: 20px;
                    color: white;
                }
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
    p {
        align-self: center;
        color: white;
    }
    
}
