.wrapper {
    border: 0.01em solid #A0C7D2;
    background-color: #F7EAD7;
    border-radius: 0.5em;  
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-items: center;
    max-width: 50%;
    margin: 0 auto 3em auto;
    padding: 0 5em;
    .title {
        margin: 2em 1em;
        h2 {}
        p {}
    }
    form {
        fieldset {
            border: none;
            label {
                font-weight: bold;
            }
            .field {
                color: white;
                border: solid 0.01em #97b8c1;
                border-radius: 0.5em;  
                height: 2em;
                margin-top: 0.2em;
                margin-bottom: 0.7em;
                width: 100%;
                

            }
            .field--textarea{
                height: auto;
                
            }
        }
    }
}
