<h2>Add product:</h2>

<form novalidate (ngSubmit)="onSubmit()" [formGroup]="productRegistrationForm"]>
    <fieldset>
        <label for="">Product name:</label>
        <input type="text" id="name"> formControlName="name">
    </fieldset>
    <fieldset>
        <label for="">Price:</label>
        <input type="number" id="price"> formControlName="price">
    </fieldset>
    <fieldset>
        <label for="">Category:</label>
        <input type="radio" id="category"> formControlName="category">
    </fieldset>
    <fieldset>
        <label for="">Care:</label>
        <input type="number" id="care"> formControlName="care">
    </fieldset>
    <fieldset>
        <label for="">Music:</label>
        <input type="" id="music"> formControlName="music">
    </fieldset>
    <fieldset>
        <label for="">Description:</label>
        <input type="text" id="description"> formControlName="description">
    </fieldset>
    <fieldset>
        <label for="">Image:</label>
        <input type="text" id="image"> formControlName="image">
    </fieldset>
    <fieldset>
        <label for="">Rating:</label>
        <input type="number" id="rating"> formControlName="rating">
    </fieldset>
    

    <button type="submit" [disabled]="!productRegistrationForm.valid">Submit</button>
</form>