<div class="wrapper">
    <div class="title">
        <h2>Add new bonsai:</h2>
        <p>Please make sure to fill all the required fields before uploading your bonsai.</p>
    </div>
    
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="productRegistrationForm">
        <fieldset>
            <label for="nameForm">Name:</label>
            <input class="field" type="text" id="nameForm" formControlName="nameForm">
        </fieldset>
        <fieldset>
            <label for="priceForm">Price:</label>
            <input class="field" type="number" id="priceForm" formControlName="priceForm">
        </fieldset>
        <fieldset>
            <label for="careForm">Care:</label>
            <textarea class="field field--textarea" id="careForm" rows="3" formControlName="careForm"></textarea>
        </fieldset>
        <fieldset>
            <label for="musicForm">Music genre:</label>
            <select class="field" name="musicForm" id="musicForm" formControlName="musicForm">
                <option *ngFor="let one of music" [value]="one">{{one}}</option>
            </select>
        </fieldset>
        <fieldset>
            <label for="descriptionForm">Description:</label>
            <textarea class="field field--textarea" id="descriptionForm" rows="5" formControlName="descriptionForm"></textarea>
        </fieldset>
        <fieldset>
            <label for="imageForm">Image:</label>
            <input class="field" type="text" id="imageForm" formControlName="imageForm">
        </fieldset>
        <fieldset>
            <label for="ratingForm">Rating:</label>
            <input class="field" type="number" id="ratingForm" formControlName="ratingForm">
        </fieldset>

        <button class="button form__button--submit" type="submit" [disabled]="!productRegistrationForm.valid">Submit</button>

    </form>
</div>