.wrapper {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-items: center;
    max-width: 50%;
    margin: 0 auto;
    .title {
        margin: 2em 1em;
        h2 {}
        p {}
    }
    form {  
        fieldset {
            border: none;
            label {
                font-weight: bold;
            }
            .field {
                height: 2em;
                margin-top: 0.2em;
                margin-bottom: 0.7em;
                width: 100%;
            }
            .field--textarea{
                height: auto;
            }
        }
        .button {
            margin: 2em 1em;
            width: 7em;
            height: 3em;
            background-color: #6b9466;
            color: white;
            border-radius: 0.3em;
        }
    }
}
