
    <section class="preview__bonsai" *ngIf="product.image.length > 0 else noImage">
        <h2>Preview</h2>
          <img src="{{product.image}}" class="preview__bonsai__img" style="width: 75%">
          <h2>{{product.name}}</h2>
          <h3>{{product.price | currency}}</h3>
          <h3 class="preview__bonsai__h">{{product.care}}</h3>
          <h2>{{product.music}}</h2>
          <h2 class="preview__bonsai__h">{{product.description}}</h2>
         
     </section>
   <ng-template #noImage>
        <div class="preview__template"></div>
   </ng-template>
  
  
  
  
  
  
  
  
  
  









