.preview__bonsai{
    border: 0.01em solid #A0C7D2;
    background-color: #F7EAD7;
    border-radius: 0.5em;  
    flex-direction: column;
    max-width: 70%;
    text-align: center;
    h3{
        padding: 0 10px 0 10px;
    }
    h2{
        padding: 0 10px 0 10px;
    }
    
    
}

 
 
 
