.preview__bonsai{
    border: 0.01em solid #A0C7D2;
    background-color: #F7EAD7;
    border-radius: 0.5em;  
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 50%;
    margin: 0 auto 3em auto;
    padding: 0 5em;
}

 
 
 
