
<div class="wrapper">
    <div class="buttons-filter-container">
        <div class="buttons">
            <button (click)="selectList()" class="general__button"><span class="icon-list"></span></button>
            <button (click)="selectGrid()" class="general__button"><span class="icon-grid"></span></button>
        </div>
        <input class="filter" #filter type="text" placeholder="Search" [(ngModel)]="filterSearch" autofocus>
    </div>
    <div class="cards-container" [ngClass]="isGrid ? 'cards-container--grid' : 'cards-container--list'">
        <ul class="div__ul" *ngFor="let bonsai of bonsaisList | appFilter: filterSearch">
            <li class="div__li">
                <img [src]="bonsai.image" class="li__img">
                <div class="li__text">
                    <div class="li__text--upper">
                        <h1 class="li__name"><b>{{bonsai.name}}:</b></h1>
                        <h3>{{bonsai.description}}</h3>
                    </div>
                    <div class="li__text--lower">
                        <p class="li__price"><b>{{bonsai.price | currency}}</b></p>
                        <button class="general__button general__button--info" routerLink="/Bonsais/{{bonsai.id}}">Info</button>
                    </div>
                </div>
        </ul>
    </div>
</div>





