*{
    margin: 0 auto;
    list-style: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100% - 1em);
    margin: 0 auto 3em auto;
    padding: 3em 0;
    .buttons-filter-container {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        margin: 0 auto;
        justify-content: center;
        text-align: right;
            .filter {
                border: solid 0.01em #97b8c1;
                border-radius: 0.5em;  
                padding: 1%;
                font-size: 1em;
                width: 10%;
            }        
            .buttons {
            display: flex;
            flex-direction: row;
            border: 0.1em solid #A0C7D2;
            border-radius: 0.3em;
            background-color: #F7EAD7;
            button {
                display: flex;
                align-items: center;
                width: max-content;
                font-size: 1.8em;
                border: none;
                border-radius: 0;
                padding: 0.3em;
            }
        }
    }
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        padding: 1%;
        justify-content: center;
        gap: 2em;
        text-align: left;
        &--list {
            flex-direction: column;
            align-content: left;
            .div__ul {
                border: 0.01em solid #A0C7D2;
                background-color: #F7EAD7;
                border-radius: 0.5em;  
                display: flex;
                align-content: space-between;
                width: calc(80% - 1em);                
                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
                .div__li {
                    display: flex;
                    flex-direction: row;
                    .li__img{
                        overflow: hidden;
                        max-width: 100%;
                        max-height: 18em;
                        margin: 2em;
                    }
                    .li__text { 
                        max-width: 100%;
                        max-height: 20em;
                        margin: 2em;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        disp
                        .li__text--upper {
                            justify-content: space-between;
                            margin: 0 1.8em;
                        }
                        .li__text--lower {
                            display: flex;
                            flex-direction: column;
                        }   
                    }    
                }
            }
        }
        &--grid {
            flex-direction: row;
            align-content: center;
            .div__ul {
                border: 0.01em solid #A0C7D2;
                background-color: #F7EAD7;
                border-radius: 0.5em;  
                display: flex;
                flex-wrap: wrap;
                width: calc(19% - 1em);
                margin: 1% 3%;
                padding: 1em;
                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
                .div__li {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    margin-top: 2%;
                    justify-content: space-between;
                    .li__img{
                        overflow: hidden;
                        max-width: 100%;
                        max-height: 30em;
                    }
                    .li__text {
                        justify-content: space-between;
                        margin: 1em 0 1.8em 0;
                    }
                    .li__lower {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        margin-bottom: 0.8%;
                }   
            }
        }
    }
}
}




// @media only screen and (max-width: 480px)  {
//     .div__ul {
//         width: calc(100% - 1em);
//     }
   
   
   
//  }
 
//  @media only screen and (min-width: 500px){
//     .div__ul {
//         width: calc(60% - 1em);
//     }
   
   
   
//  }
//  @media only screen and (min-width: 600px){
//     .div__ul {
//         width: calc(70% - 1em);
//     }
    
    
    
//  }
//  @media only screen and (min-width: 720px){
//     .div__ul {
//         width: calc(30% - 1em);
//     }
    
    
    
//  }
//  @media only screen and (min-width: 1080px){
//     .div__ul {
//         width: calc(20% - 1em);
//     }
   
   
   
//  }

//  @media only screen and (min-width: 1300px){
//     .div__ul {
//         width: calc(15% - 1em);
//     }
   
   
//  }
 
