*{
    margin: 0 auto;
    //  width: 90%
    
}
.div__wrapper{
    display:flex;
    flex-direction: column;
    .div__header{
        display:flex;
        flex-direction: column;
    
        align-items: center;
        img{
            width: 10%;
        }
        .title__header {
            font-size: 5em;
        }
    }
    .div__nav{
        display:flex;
        background-color: rgb(246, 200, 91);
        width: 100%;  
        flex-direction: row;
        .nav__header{
            justify-content:center;
            display: flex; 
            button{
                background-color: transparent;
               border-radius:2em;
               margin: 2%;
               padding:0.3em 1.2em;
               border:0.16em solid rgba(255,255,255,0);
               box-sizing: border-box;
               text-decoration:none;
               text-align:center;
               // text-shadow: 0 0.04em 0.04em rgba(248, 240, 85, 0.35);
               &:hover{
                   background-color: rgb(250, 219, 147);
               }
           }       
        }
    }
}

