<div class="div__wrapper">
  <div class="div__header">
    <img src="./assets/noback.png" alt="alt">
    <h1 class="title__header">BONSAI</h1>
  </div>
    <nav class="nav__header">
      <button routerLink="/Home">Home</button>
      <button routerLink="/Products">Shop</button>
      <button routerLink="/Bonsais">Bonsais</button>
      <button routerLink="/Gallery">Gallery</button>
      <button routerLink="/Manage">Manage</button>
      <button routerLink="/About">About</button>
    </nav>
  </div>




