<section class="section__home">
    <div class="section__div">
        <img src="./assets/noback.png" alt="logo" class="animation">
    </div>
    <div class="section__div__content">
        <div class="column">
            <h1 class="title">OUR HISTORY</h1>
            <h2>{{history1}}</h2>
            <h2>{{history2}}</h2>
            <h2>{{history3}}</h2>
            <h2>{{history4}}</h2>
        </div>
        <div class="column">
            <h1 class="title">OUR VISION</h1>
            <h1><i>{{h2}}</i></h1>
            <h2>{{h22}}</h2>
        </div>
        <div class="column">
            <h1 class="title">WHAT WE OFFER</h1>
            <h2>{{p1}}</h2>
            <h2>{{p2}}</h2>
            <h2>{{p3}}</h2>
        </div>
        
        
    </div>
    <h3 class="date">{{date | date: "dd/MM/yyyy"}}</h3>
</section>


