<section class="section__home">
    <div class="section__div">
    </div>
    <div class="section__div__content"> 
        <h1>THE BONSAI EXPERIENCE</h1>
        <h2>VISIT OUR SPACE</h2>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque animi debitis repudiandae mollitia quod modi id placeat minima! Commodi harum at provident eum.
             Corporis, aut? Voluptatem cum quidem aliquam tenetur.</h4>
        <h2>COME AND ENJOY OUR DIFFERENTS COFFEES AND OUR PLANTS LOVER'S STAFF</h2>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias adipisci, sint magnam mollitia esse dicta animi quis placeat quasi nulla ut obcaecati laboriosam maiores, est nobis voluptate aspernatur ducimus omnis!</h4>
        <h2>RETRO EXCHANGE</h2>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, architecto earum mollitia qui fugiat atque cum, eius tenetur placeat, sit sapiente. Distinctio, quos? Obcaecati nihil nesciunt optio error, at necessitatibus.</h4>
    </div>
</section>

