<section class="section__home">
    <div class="section__div">
        <h1>THE BONSAI EXPERIENCE</h1>
        <img src="./assets/noback.png" alt="logo" class="animation">
    </div>
    <div class="section__div__content"> 
        <h2>VISIT OUR SPACE</h2>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, vero minima. Nobis ratione similique dolore magnam iusto amet ipsam esse eveniet eaque, ipsum beatae cumque iure distinctio. Voluptatem magnam aperiam est provident eligendi, deleniti animi nesciunt quisquam quasi debitis quos ipsum maxime deserunt vero nihil id dignissimos veritatis officia repellendus.</h4>
        <h2>COME AND ENJOY OUR DIFFERENTS COFFEES AND OUR PLANTS LOVER'S STAFF</h2>
        <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto facilis aspernatur, harum maxime eveniet, quia, natus temporibus qui quos ipsum nihil soluta. Maiores facilis natus tempora, cumque dolores, distinctio libero facere eveniet laboriosam necessitatibus accusantium fugit deleniti soluta! Quasi voluptatibus iure vel consequuntur perferendis, dicta eum, maiores unde vero exercitationem harum velit cum pariatur explicabo reprehenderit quaerat officia ex ea sapiente repellendus dolorem quia optio. Quaerat ab qui ipsa exercitationem nam minus perspiciatis. Assumenda, ipsa. Maxime fugit totam dignissimos facilis obcaecati quia alias unde nostrum quod dicta rerum quasi doloremque eum minima non reprehenderit, quas iste in, facere, quisquam similique?</h4>
        <h2>RETRO EXCHANGE</h2>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, architecto earum mollitia qui fugiat atque cum, eius tenetur placeat, sit sapiente. Distinctio, quos? Obcaecati nihil nesciunt optio error, at necessitatibus.</h4>
    </div>
    <h3 class="date">{{date | date: "dd/MM/yyyy"}}</h3>
</section>


