*{
    margin: 0 auto;
   
}
.section__home{
    display:flex;
    flex-direction: column;
    text-align: justify;
    
}
.section__div{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.section__div__content{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}