* {
    margin: 0 auto;
}
.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 2%;
    button {
        width: max-content;
        &:hover {
            cursor: pointer;
        }
    } 
}