*{
    margin: 0 auto; 
}
.wrap{
    display: flex;
    flex-direction: row;
  
    .div__ul{
        display:flex;
        flex-wrap: wrap;
        gap: 1em;
        text-align: center;
        
        list-style: none;
    }
    .div__ul__li{
        width: calc(25% - 1em);
        list-style: none;
        margin-top: 2%;
        // border: 1px solid black;
        display:flex;
        justify-content: flex-end;
        flex-direction: column;
        
    }
    .li__img{
         max-width: 50%;
    }
}















