<div class="wrapper">
    <h1>PRODUCT LIST</h1>
    <div class="card">
        <ul *ngFor="let product of productList" class="div__ul">
            <li class="div__ul__li">
                <img [src]="product.image" alt="{{product.name}}" class="li__img">
                <h3>{{product.name}}:</h3>
                <h4>{{product.description}}</h4>
                <div class="li__lower">
                    <h3><b>{{product.price | currency}}</b></h3>
                    <!-- <button routerLink="/Products/{{product.id}}">Info</button> -->
                </div>
                <!-- <button routerLink="/Manage/"{{product.id}}>EDITE</button> -->
        </ul>
    </div>
    
<section class="container">
    <div class="card1">
        <ul *ngFor="let products of Shop.types" class="section__ul">
            <li class="section__ul__li">
                <img src="{{products.image}}" alt="{{products.name}}" class="img__li">
                <h3>{{products.name}}: {{products.description}}</h3>
                <h3><b>{{products.price | currency}}</b></h3>
        </ul>
    </div>
</section>
